<div class="row">
  <md-dialog aria-label="Details Article">
    <md-toolbar>
        <div class="md-toolbar-tools" ng-repeat="article in thisArticle">
          <h1><span class="label label-primary">{{article.name}}</span></h1>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content ng-repeat="article in thisArticle">
      <div>
        <div class="col-sm-12">
          <!-- <div class="spacer">
              <div class="col-sm-2">Id:</div>
              <div class="col-sm-10">
                  <strong>{{article.id}}</strong>
              </div>
          </div> -->

          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-body">
              <p>{{article.description}}</p>
            </div>
            <!-- List group -->
            <ul class="list-group">
              <li class="list-group-item">Date: {{article.date_creation}}</li>
              <li class="list-group-item">Auteur: {{article.user.firstname}} {{article.user.lastname}}</li>
              <li class="list-group-item">Thème(s): <strong ng-repeat="theme in article.themes">{{theme.name}} - </strong></li>
            </ul>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
</div>
