<div class="loader"></div>

<section class="content-header col-sm-9 col-sm-offset-1">
  <h1>Articles
    <button type="button" class="btn btn-success" ng-if="Administrateur || Auteur" ng-click="addArticle($event)">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </h1>

  <ol class="breadcrumb">
      <li><a><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li class="active">Articles</li>
  </ol>
</section>

<section class="content container">
  <div class="row">
    <div class="panel panel-default col-sm-8 col-sm-offset-1 no-padding" ng-repeat="article in articles">
      <div class="panel-heading">
        <h2 class="panel-title">{{article.name}}</h2>
          <div class="float-right">
            <button type="button" class="btn btn-primary" ng-if="Abonne || Administrateur || Auteur" ng-click="showArticle($event, article.id)">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-info" ng-repeat="ok in articlesAuteur" ng-if="Administrateur || ok == article.id " ng-click="editArticle($event, article.id)">
              <i class="fa fa-pencil" aria-hidden="true" ></i>
            </button>
           
            <button type="button" class="btn btn-danger" ng-if="Administrateur">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">
        <span class="badge badge-default" ng-repeat="theme in article.themes">{{theme.name}}</span>
      </h6>

      <div class="panel-body">
        {{article.description}}
      </div>
      <div class="card-footer text-muted">
        <span style="margin-left:15px;">Posté par:</span><a href="#">{{article.user.firstname}} {{article.user.lastname}}</a>
      </div>
    </div>
  </div>

</section>
