<div class="loader"></div>

<section class="content-header">
  <h1>Articles</h1>
  <ol class="breadcrumb">
      <li><a><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li class="active">Articles</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="panel panel-default col-sm-12 no-padding" ng-repeat="article in articles">
      <div class="panel-heading">
        <h2 class="panel-title">{{article.name}}</h2>
          <div class="float-right">
            <button type="button" class="btn btn-primary">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-info">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
      </div>
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" ng-repeat="theme in article.themes"><a href="#">{{theme.name}}</a></li>
      </ul>
      <div class="panel-body">
        {{article.description}}
      </div>
    </div>
  </div>

</section>
