<div class="wrapper">
	<header class="main-header">
		<a class="logo" ng-repeat="title in appTitle" ui-sref="app">
			<span class="logo-mini"><b>{{title.shortname}}</b></span>
			<span class="logo-lg"><b>{{title.name}}</b></span>
		</a>

		<nav class="navbar navbar-static-top">
		<a class="sidebar-toggle" data-toggle="offcanvas" ng-click="sideBar(1);">
		<span class="sr-only"></span>
		</a>

		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span class="hidden-xs">{{userName}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="#" class="img-circle" alt="User Image">
                                <h3>{{userName}}</h3>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a ui-sref="app.about" class="btn btn-success btn-flat">Profil</a>
                            </div>
                            <div class="pull-right">
                                <a ng-click="logout();" class="btn btn-danger btn-flat">Deconnexion</a>
                            </div>
                        </li>
                    </ul>
                </li>
			</ul>
		</div>
	</header>

	<aside class="main-sidebar">
		<section class="sidebar">
			<ul class="sidebar-menu">
                <li class="treeview" ui-sref-active="active" ng-click="sideBar();" ng-repeat="menu in menuItems">
                    <a ui-sref="app.{{menu.state}}">
                        <i class="fa fa-{{menu.icon}}"></i> <span>{{menu.title}}</span>
                    </a>
                </li>
            </ul>
		</section>
	</aside>
<!--
	<div class="content-wrapper">
        <ui-view>

            <div class="container" style="height: 100vh">
                <div class="row">
                    <div class="text-center">
                        <div class="col-xs-12">
                            <img ng-src="{{logo}}" alt="Wiki-logo" width="200px" style="margin: 10px">
                        </div>
                        <h3>Bonjour {{userName}}</h3>
                        <small>Welcome dans Wiki !!</small>
                    </div>
                </div>

            </div>

        </ui-view>
    </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> {{version}}
            </div>
            <strong>Copyright &copy; Wiki.</strong>
        </footer>
</div> -->



<div class="content-wrapper">
	<ui-view>
		<div class="jumbotron">
			<div class="container">
				<h1>Wiki'tema</h1>
				<p>La plateforme de partage d'informations!</p>
			</div>
        </div>
            <div class="container">
                <p>Les derniers articles postés :</p>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-sm-9 col-sm-offset-1" ng-repeat="article in getPageArticles()|startFrom:currentPageArticles*pageSizePageArticles |  limitTo:pageSizePageArticles | orderBy:'-date_creation'">
                <div class="panel panel-default  panel--styled">

                  <div class="panel-heading">
                    <h2 class="panel-title">{{article.name}}</h2>
                 </div>

                 <div class="col-sm-12 text-left">
                   <h5>Themes: <span style="margin: 3px!important;" class="badge badge-default" ng-repeat="theme in article.themes">{{theme.name}}</span></h5>
                 </div>
                            <div class="panel-body">
                                <div class="col-md-12 panelTop">
                                    <div class="col-md-12 text-center">
                                        <img width="200px" data-ng-src="{{article.pathname}}"</li>
                                    </div>
                                    <div class="col-md-12">

                                        <div ng-bind-html="article.description | cut:true:450:' ...'">{{article.description | cut:true:450:' ...'}}</div>
                                    </div>
                                </div>

                                <div class="col-sm-12 panelBottom">
                                    
                                    <div class="text-left col-sm-4">
                                        <h5>Auteur: <span class="itemPrice">{{article.user.firstname}} {{article.user.lastname}}</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- pagination -->
                <div class="text-center spacer">
                    <button class="btn btn-secondary" ng-disabled="currentPageArticles == 0" ng-click="currentPageArticles=currentPageArticles-1">
                        Precedent
                    </button>
                    {{currentPageArticles+1}}/{{nbPagesArticles()}}
                    <button class="btn btn-secondary" ng-disabled="currentPageArticles>= getPageArticles().length/pageSizePageArticles - 1" ng-click="currentPageArticles=currentPageArticles+1">
                        Suivant
                    </button>
                </div>
                <!-- fin pagination -->



            </div>


			
	</ui-view>
	</div>

	<footer class="main-footer">
			<div class="pull-right hidden-xs">
					<b>Version</b> {{version}}
			</div>
			<strong>Copyright &copy; Wikitema.</strong>
	</footer>
</div>
