<p>Bonjour {{ user.firstname|capitalize}},</p>

<dl class="dl-horizontal">
    <dt>Votre compte Wiki'tema vient d'être créé. 
        Vous pouvez vous connecter avec votre login : 
    </dt>
    <p>{{ user.username }}</p>
</dl>
<dl class="dl-horizontal">
    <dt>Et le mot de passe que vous avez renseigné : </dt>
</dl>

<p>Cordialement,</p>
<p>Wiki'tema</p>