<p>Bonjour,</p>

<dl class="dl-horizontal">
    <dt>{{ firstName|capitalize}} - {{ name|capitalize}} vous adresse le message suivant</dt>
    <p>{{body}}</p>
</dl>

<p>Cordialement,</p>
<p>Wikitema</p>